{% extends "base.html" %}

{% block title %}게시글 등록{% endblock %}

{% block content %}
    <div class="container my-5 py-5">
        <h1 class="text-center fs-2">게시글 등록</h1>
        <form action="/post/create/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="form-label">제목</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="{{ form.content.id_for_label }}" class="form-label">내용</label>
                {{ form.content }}
            </div>
            <div class="d-grid row-gap-3 my-4">
                <button type="submit" class="btn btn-primary">등록</button>
                <a href="/post/list/" class="btn btn-secondary">목록</a>
            </div>
        </form>
    </div>

{% endblock %}